%wireframe {
  background: white;
  border: 1px solid lightgray;

  fill: white;
  stroke: lightgray;
  stroke-width: 1px;
}

%outline {
  @extend %wireframe;
  border: 1px solid black;
  stroke: black;
}

#d3-tetris {
  display: inline-block;

  .d3t {
    &-mainWrapper {
      @extend %wireframe;
    }

    &-sideBoard {
      @extend %wireframe;
    }

    &-playBoard {
      @extend %wireframe;
    }

    &-safeZone {
      @extend %wireframe;
    }

    &-scoreBox {
      @extend %wireframe;
    }

    &-btn {
      cursor: pointer;

      &:hover {
        fill: lightgray;
      }

      &-audio,
      &-pause,
      &-options,
      &-newGame {
        @extend %wireframe, .d3t-btn;
      }
    }
  }
}