#d3-tetris .d3t-safeZone, #d3-tetris .d3t-mainWrapper, #d3-tetris .d3t-sideBoard, #d3-tetris .d3t-playBoard {
  background: white;
  border: 1px solid lightgray;
  fill: white;
  stroke: lightgray;
  stroke-width: 1px; }

#d3-tetris .d3t-safeZone {
  border: 1px solid black;
  stroke: black; }

#d3-tetris {
  display: inline-block; }
