.barGraph {
  background: lightblue; }
  .barGraph-title {
    fill: darkred;
    font-size: 20px;
    x: 20px;
    y: 40px; }
  .barGraph-bargroup text {
    opacity: 0;
    transition: opacity 0.5s; }
  .barGraph-bargroup-bar {
    fill: blue;
    cursor: pointer;
    transition: fill 0.5s; }
    .barGraph-bargroup-bar:hover {
      fill: green; }
      .barGraph-bargroup-bar:hover + text {
        opacity: 1; }

.pieChart text {
  opacity: 0;
  transition: opacity 0.5s; }

.pieChart-path {
  cursor: pointer;
  transition: opacity 0.5s; }
  .pieChart-path:hover {
    opacity: .9; }
    .pieChart-path:hover + text {
      opacity: 1; }

.forceGraph-handles {
  cursor: pointer;
  cursor: move;
  transition: opacity 0.5s; }
  .forceGraph-handles:hover {
    opacity: .8; }

.map-borough {
  cursor: pointer;
  fill: #4bd0fa; }
  .map-borough:hover {
    stroke: blue;
    fill: rgba(75, 208, 250, 0.25); }

.mCalc-wrapper {
  stroke: black;
  fill: white; }

.mCalc-graph {
  fill: lightgray;
  stroke: black; }

.mCalc-bars {
  fill: blue;
  cursor: pointer; }
  .mCalc-bars:hover .mCalc-int-bar {
    opacity: 1; }

.mCalc-int-bar {
  opacity: 0;
  transition: opacity 0.5s; }

.mCalc-ticks {
  stroke: white; }

.container > .row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid; }
